@charset "UTF-8";
button {
  border: none;
  outline: none;
}

button:hover {
  outline: none;
  cursor: pointer;
}

button:focus {
  border: none;
  outline: none;
}

.registration_block {
  /*
        Позиционирование формы можно писать здесь
        e.g: margin: 0 auto; margin-top: 5%;
    */
  width: 400px;
  -webkit-box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.1);
}

.registration_block .registration_block__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

.registration_block .registration_block__wrapper .registration_block__header {
  width: 300px;
  font-family: 'Yandex Bolder';
  font-size: 10px;
  letter-spacing: 0.1em;
  text-align: center;
}

.registration_block .registration_block__wrapper .registration_block__content {
  margin-top: 20px;
  width: 300px;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .firstname {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .firstname input {
  margin-top: 20px;
  width: 300px;
  height: 0px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #f2f2f2;
  font-family: 'Yandex Bolder';
  color: black;
  -webkit-transition: .2s;
  transition: .2s;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .firstname input:focus {
  height: 20px;
  outline: 0;
  border-color: #ffdb4d;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .firstname input.focus {
  height: 20px;
  outline: 0;
  border-color: #ffdb4d;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .firstname input.notCompleted {
  outline: 0;
  border-color: red;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .firstname input.completed {
  height: 20px;
  outline: 0;
  border-color: #ffdb4d;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .firstname input.invalidPswd {
  height: 20px;
  outline: 0;
  border-color: red;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .firstname .__headcontent {
  position: absolute;
  width: 300px;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .firstname .__headcontent .__headcontent__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .firstname .__headcontent .__headcontent__wrapper label {
  font-family: 'Yandex Bolder';
  font-style: bold;
  font-size: 15px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  color: #999;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .firstname .__headcontent .__headcontent__wrapper .pswd-submit {
  font-size: 13px;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .firstname .__headcontent .__headcontent__wrapper .markstatus {
  opacity: 0;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .firstname .__headcontent .__headcontent__wrapper .markstatus.complete {
  opacity: 100;
  right: 5px;
  top: 5px;
  width: 6px;
  height: 15px;
  border: solid #37b24d;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .firstname .__headcontent .__headcontent__wrapper .markstatus.pswd {
  opacity: 25%;
  border: none;
  outline: none;
  width: 25px;
  height: 20px;
  background: url("../src/img/eye.svg") no-repeat;
  background-size: contain;
  -webkit-transition: .2s;
  transition: .2s;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .firstname .__headcontent .__headcontent__wrapper .markstatus.pswd:active {
  outline: none;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .firstname .__headcontent .__headcontent__wrapper .markstatus.pswd:hover {
  cursor: pointer;
  opacity: 100%;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .firstname .__headcontent .__headcontent__wrapper .markstatus.pswd.active {
  width: 23px;
  height: 25px;
  background: url("../src/img/eye-clear.svg") no-repeat;
  background-size: contain;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .lastname {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .lastname input {
  margin-top: 20px;
  width: 300px;
  height: 0px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #f2f2f2;
  font-family: 'Yandex Bolder';
  color: black;
  -webkit-transition: .2s;
  transition: .2s;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .lastname input:focus {
  height: 20px;
  outline: 0;
  border-color: #ffdb4d;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .lastname input.focus {
  height: 20px;
  outline: 0;
  border-color: #ffdb4d;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .lastname input.notCompleted {
  outline: 0;
  border-color: red;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .lastname input.completed {
  height: 20px;
  outline: 0;
  border-color: #ffdb4d;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .lastname input.invalidPswd {
  height: 20px;
  outline: 0;
  border-color: red;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .lastname .__headcontent {
  position: absolute;
  width: 300px;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .lastname .__headcontent .__headcontent__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .lastname .__headcontent .__headcontent__wrapper label {
  font-family: 'Yandex Bolder';
  font-style: bold;
  font-size: 15px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  color: #999;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .lastname .__headcontent .__headcontent__wrapper .pswd-submit {
  font-size: 13px;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .lastname .__headcontent .__headcontent__wrapper .markstatus {
  opacity: 0;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .lastname .__headcontent .__headcontent__wrapper .markstatus.complete {
  opacity: 100;
  right: 5px;
  top: 5px;
  width: 6px;
  height: 15px;
  border: solid #37b24d;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .lastname .__headcontent .__headcontent__wrapper .markstatus.pswd {
  opacity: 25%;
  border: none;
  outline: none;
  width: 25px;
  height: 20px;
  background: url("../src/img/eye.svg") no-repeat;
  background-size: contain;
  -webkit-transition: .2s;
  transition: .2s;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .lastname .__headcontent .__headcontent__wrapper .markstatus.pswd:active {
  outline: none;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .lastname .__headcontent .__headcontent__wrapper .markstatus.pswd:hover {
  cursor: pointer;
  opacity: 100%;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .lastname .__headcontent .__headcontent__wrapper .markstatus.pswd.active {
  width: 23px;
  height: 25px;
  background: url("../src/img/eye-clear.svg") no-repeat;
  background-size: contain;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .login input {
  margin-top: 20px;
  width: 300px;
  height: 0px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #f2f2f2;
  font-family: 'Yandex Bolder';
  color: black;
  -webkit-transition: .2s;
  transition: .2s;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .login input:focus {
  height: 20px;
  outline: 0;
  border-color: #ffdb4d;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .login input.focus {
  height: 20px;
  outline: 0;
  border-color: #ffdb4d;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .login input.notCompleted {
  outline: 0;
  border-color: red;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .login input.completed {
  height: 20px;
  outline: 0;
  border-color: #ffdb4d;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .login input.invalidPswd {
  height: 20px;
  outline: 0;
  border-color: red;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .login .__headcontent {
  position: absolute;
  width: 300px;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .login .__headcontent .__headcontent__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .login .__headcontent .__headcontent__wrapper label {
  font-family: 'Yandex Bolder';
  font-style: bold;
  font-size: 15px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  color: #999;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .login .__headcontent .__headcontent__wrapper .pswd-submit {
  font-size: 13px;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .login .__headcontent .__headcontent__wrapper .markstatus {
  opacity: 0;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .login .__headcontent .__headcontent__wrapper .markstatus.complete {
  opacity: 100;
  right: 5px;
  top: 5px;
  width: 6px;
  height: 15px;
  border: solid #37b24d;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .login .__headcontent .__headcontent__wrapper .markstatus.pswd {
  opacity: 25%;
  border: none;
  outline: none;
  width: 25px;
  height: 20px;
  background: url("../src/img/eye.svg") no-repeat;
  background-size: contain;
  -webkit-transition: .2s;
  transition: .2s;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .login .__headcontent .__headcontent__wrapper .markstatus.pswd:active {
  outline: none;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .login .__headcontent .__headcontent__wrapper .markstatus.pswd:hover {
  cursor: pointer;
  opacity: 100%;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__names .login .__headcontent .__headcontent__wrapper .markstatus.pswd.active {
  width: 23px;
  height: 25px;
  background: url("../src/img/eye-clear.svg") no-repeat;
  background-size: contain;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__pswd {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__pswd .pswd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__pswd .pswd input {
  margin-top: 20px;
  width: 300px;
  height: 0px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #f2f2f2;
  font-family: 'Yandex Bolder';
  color: black;
  -webkit-transition: .2s;
  transition: .2s;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__pswd .pswd input:focus {
  height: 20px;
  outline: 0;
  border-color: #ffdb4d;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__pswd .pswd input.focus {
  height: 20px;
  outline: 0;
  border-color: #ffdb4d;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__pswd .pswd input.notCompleted {
  outline: 0;
  border-color: red;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__pswd .pswd input.completed {
  height: 20px;
  outline: 0;
  border-color: #ffdb4d;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__pswd .pswd input.invalidPswd {
  height: 20px;
  outline: 0;
  border-color: red;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__pswd .pswd .__headcontent {
  position: absolute;
  width: 300px;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__pswd .pswd .__headcontent .__headcontent__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__pswd .pswd .__headcontent .__headcontent__wrapper label {
  font-family: 'Yandex Bolder';
  font-style: bold;
  font-size: 15px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  color: #999;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__pswd .pswd .__headcontent .__headcontent__wrapper .pswd-submit {
  font-size: 13px;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__pswd .pswd .__headcontent .__headcontent__wrapper .markstatus {
  opacity: 0;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__pswd .pswd .__headcontent .__headcontent__wrapper .markstatus.complete {
  opacity: 100;
  right: 5px;
  top: 5px;
  width: 6px;
  height: 15px;
  border: solid #37b24d;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__pswd .pswd .__headcontent .__headcontent__wrapper .markstatus.pswd {
  opacity: 25%;
  border: none;
  outline: none;
  width: 25px;
  height: 20px;
  background: url("../src/img/eye.svg") no-repeat;
  background-size: contain;
  -webkit-transition: .2s;
  transition: .2s;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__pswd .pswd .__headcontent .__headcontent__wrapper .markstatus.pswd:active {
  outline: none;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__pswd .pswd .__headcontent .__headcontent__wrapper .markstatus.pswd:hover {
  cursor: pointer;
  opacity: 100%;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__pswd .pswd .__headcontent .__headcontent__wrapper .markstatus.pswd.active {
  width: 23px;
  height: 25px;
  background: url("../src/img/eye-clear.svg") no-repeat;
  background-size: contain;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__pswd .pswd__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__pswd .pswd__submit input {
  margin-top: 20px;
  width: 300px;
  height: 0px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #f2f2f2;
  font-family: 'Yandex Bolder';
  color: black;
  -webkit-transition: .2s;
  transition: .2s;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__pswd .pswd__submit input:focus {
  height: 20px;
  outline: 0;
  border-color: #ffdb4d;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__pswd .pswd__submit input.focus {
  height: 20px;
  outline: 0;
  border-color: #ffdb4d;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__pswd .pswd__submit input.notCompleted {
  outline: 0;
  border-color: red;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__pswd .pswd__submit input.completed {
  height: 20px;
  outline: 0;
  border-color: #ffdb4d;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__pswd .pswd__submit input.invalidPswd {
  height: 20px;
  outline: 0;
  border-color: red;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__pswd .pswd__submit .__headcontent {
  position: absolute;
  width: 300px;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__pswd .pswd__submit .__headcontent .__headcontent__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__pswd .pswd__submit .__headcontent .__headcontent__wrapper label {
  font-family: 'Yandex Bolder';
  font-style: bold;
  font-size: 15px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  color: #999;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__pswd .pswd__submit .__headcontent .__headcontent__wrapper .pswd-submit {
  font-size: 13px;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__pswd .pswd__submit .__headcontent .__headcontent__wrapper .markstatus {
  opacity: 0;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__pswd .pswd__submit .__headcontent .__headcontent__wrapper .markstatus.complete {
  opacity: 100;
  right: 5px;
  top: 5px;
  width: 6px;
  height: 15px;
  border: solid #37b24d;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__pswd .pswd__submit .__headcontent .__headcontent__wrapper .markstatus.pswd {
  opacity: 25%;
  border: none;
  outline: none;
  width: 25px;
  height: 20px;
  background: url("../src/img/eye.svg") no-repeat;
  background-size: contain;
  -webkit-transition: .2s;
  transition: .2s;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__pswd .pswd__submit .__headcontent .__headcontent__wrapper .markstatus.pswd:active {
  outline: none;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__pswd .pswd__submit .__headcontent .__headcontent__wrapper .markstatus.pswd:hover {
  cursor: pointer;
  opacity: 100%;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__pswd .pswd__submit .__headcontent .__headcontent__wrapper .markstatus.pswd.active {
  width: 23px;
  height: 25px;
  background: url("../src/img/eye-clear.svg") no-repeat;
  background-size: contain;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasphone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasphone input {
  margin-top: 20px;
  width: 300px;
  height: 0px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #f2f2f2;
  font-family: 'Yandex Bolder';
  color: black;
  -webkit-transition: .2s;
  transition: .2s;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasphone input:focus {
  height: 20px;
  outline: 0;
  border-color: #ffdb4d;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasphone input.focus {
  height: 20px;
  outline: 0;
  border-color: #ffdb4d;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasphone input.notCompleted {
  outline: 0;
  border-color: red;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasphone input.completed {
  height: 20px;
  outline: 0;
  border-color: #ffdb4d;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasphone input.invalidPswd {
  height: 20px;
  outline: 0;
  border-color: red;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasphone .__headcontent {
  position: absolute;
  width: 300px;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasphone .__headcontent .__headcontent__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasphone .__headcontent .__headcontent__wrapper label {
  font-family: 'Yandex Bolder';
  font-style: bold;
  font-size: 15px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  color: #999;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasphone .__headcontent .__headcontent__wrapper .pswd-submit {
  font-size: 13px;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasphone .__headcontent .__headcontent__wrapper .markstatus {
  opacity: 0;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasphone .__headcontent .__headcontent__wrapper .markstatus.complete {
  opacity: 100;
  right: 5px;
  top: 5px;
  width: 6px;
  height: 15px;
  border: solid #37b24d;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasphone .__headcontent .__headcontent__wrapper .markstatus.pswd {
  opacity: 25%;
  border: none;
  outline: none;
  width: 25px;
  height: 20px;
  background: url("../src/img/eye.svg") no-repeat;
  background-size: contain;
  -webkit-transition: .2s;
  transition: .2s;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasphone .__headcontent .__headcontent__wrapper .markstatus.pswd:active {
  outline: none;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasphone .__headcontent .__headcontent__wrapper .markstatus.pswd:hover {
  cursor: pointer;
  opacity: 100%;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasphone .__headcontent .__headcontent__wrapper .markstatus.pswd.active {
  width: 23px;
  height: 25px;
  background: url("../src/img/eye-clear.svg") no-repeat;
  background-size: contain;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasphone .toggle-hasphone-zero {
  margin-top: 4px;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasphone .toggle-hasphone-zero span {
  font-family: 'Yandex Bolder';
  font-size: 15px;
  color: #04b;
  -webkit-transition: color .15s linear;
  transition: color .15s linear;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasphone .toggle-hasphone-zero span:hover {
  cursor: pointer;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasphone .verificationPhone {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  -webkit-transition: .5s;
  transition: .5s;
  font-family: 'Yandex Bold';
  font-size: 15px;
  border: 1px solid #d6d6d6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasphone .verificationPhone:hover {
  cursor: pointer;
  background: #f5f4f4;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasnophone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasnophone .control-question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  width: 300px;
  height: 40px;
  border: 1px solid #9b9a9a;
  border-radius: 10px;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasnophone .control-question .current-option {
  position: absolute;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasnophone .control-question .current-option .current-option-wrapper {
  width: 300px;
  background: url("../src/img/select-arrow.PNG") no-repeat right;
  background-size: 20px;
  height: 48px;
  border-radius: 10px;
  font-family: 'Yandex Regular';
  font-size: 15px;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasnophone .control-question .current-option .current-option-wrapper .control-question-select {
  font-size: 18px;
  background: transparent;
  text-overflow: ellipsis;
  width: 300px;
  padding: 15px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  height: 50px;
  border: 1px solid grey;
  color: black;
  border-radius: 10px;
  -webkit-appearance: none;
  padding-right: 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasnophone .toggle-hasphone-first {
  margin-top: 5px;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasnophone .toggle-hasphone-first span {
  font-family: 'Yandex Bolder';
  font-size: 14px;
  color: #04b;
  -webkit-transition: color .15s linear;
  transition: color .15s linear;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasnophone .toggle-hasphone-first span:hover {
  cursor: pointer;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasnophone input {
  margin-top: 20px;
  width: 300px;
  height: 0px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #f2f2f2;
  font-family: 'Yandex Bolder';
  color: black;
  -webkit-transition: .2s;
  transition: .2s;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasnophone input:focus {
  height: 20px;
  outline: 0;
  border-color: #ffdb4d;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasnophone input.focus {
  height: 20px;
  outline: 0;
  border-color: #ffdb4d;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasnophone input.notCompleted {
  outline: 0;
  border-color: red;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasnophone input.completed {
  height: 20px;
  outline: 0;
  border-color: #ffdb4d;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasnophone input.invalidPswd {
  height: 20px;
  outline: 0;
  border-color: red;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasnophone .__headcontent {
  position: absolute;
  width: 300px;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasnophone .__headcontent .__headcontent__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasnophone .__headcontent .__headcontent__wrapper label {
  font-family: 'Yandex Bolder';
  font-style: bold;
  font-size: 15px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  color: #999;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasnophone .__headcontent .__headcontent__wrapper .pswd-submit {
  font-size: 13px;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasnophone .__headcontent .__headcontent__wrapper .markstatus {
  opacity: 0;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasnophone .__headcontent .__headcontent__wrapper .markstatus.complete {
  opacity: 100;
  right: 5px;
  top: 5px;
  width: 6px;
  height: 15px;
  border: solid #37b24d;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasnophone .__headcontent .__headcontent__wrapper .markstatus.pswd {
  opacity: 25%;
  border: none;
  outline: none;
  width: 25px;
  height: 20px;
  background: url("../src/img/eye.svg") no-repeat;
  background-size: contain;
  -webkit-transition: .2s;
  transition: .2s;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasnophone .__headcontent .__headcontent__wrapper .markstatus.pswd:active {
  outline: none;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasnophone .__headcontent .__headcontent__wrapper .markstatus.pswd:hover {
  cursor: pointer;
  opacity: 100%;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasnophone .__headcontent .__headcontent__wrapper .markstatus.pswd.active {
  width: 23px;
  height: 25px;
  background: url("../src/img/eye-clear.svg") no-repeat;
  background-size: contain;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasnophone .question-answer-wrapper {
  margin-top: 20px;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasnophone .captcha-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasnophone .captcha-wrapper .captcha-photo-block {
  margin: 0 auto;
  margin-top: 10px;
  width: 250px;
  height: 80px;
  background: url("../src/img/captcha-example.PNG") no-repeat;
  background-size: cover;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasnophone .captcha-wrapper .captcha-photo-block.active {
  background: url("../src/img/captcha-voice.PNG") no-repeat;
  background-position-x: 50%;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasnophone .captcha-wrapper .captcha-photo-block.active:hover {
  cursor: pointer;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasnophone .captcha-wrapper .captcha-code-help {
  margin-top: 10px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .content__phone .hasnophone .captcha-wrapper .captcha-code-help button {
  background: none;
  font-family: 'Yandex Bolder';
  font-size: 12px;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .registration_block__submit .submit-btn-submit-wrapper #form-submit {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  -webkit-transition: .2s;
  transition: .2s;
  background: #fc0;
  text-align: center;
  font-family: 'Yandex Bold';
  font-size: 18px;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .registration_block__submit .submit-btn-submit-wrapper #form-submit.disabled {
  color: grey;
  background: #f2f2f2;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .registration_block__submit .submit-btn-submit-wrapper #form-submit.disabled:hover {
  background: #f2f2f2;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .registration_block__submit .submit-btn-submit-wrapper #form-submit:hover {
  background: #fac000;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .registration_block__submit .submit-btn-submit-wrapper p {
  font-family: 'Yandex Bolder';
  font-size: 14px;
  color: #999;
  text-align: start;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .registration_eula {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  margin: 0 auto;
  gap: 20px;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .registration_eula .form_eula-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .registration_eula .form_eula-checkbox + label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .registration_eula .form_eula-checkbox + label::before {
  -webkit-transition: .4s;
  transition: .4s;
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .registration_eula .form_eula-checkbox:checked + label::before {
  border-color: #545454;
  background-color: #545454;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .registration_eula span {
  font-family: 'Yandex Regular';
  font-size: 15px;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .registration_eula span a {
  color: #04b;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .permissionCheckbox .permissionCheckbox-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .permissionCheckbox .permissionCheckbox-checkbox + label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .permissionCheckbox .permissionCheckbox-checkbox + label::before {
  -webkit-transition: .4s;
  transition: .4s;
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .permissionCheckbox .permissionCheckbox-checkbox:checked + label::before {
  border-color: #545454;
  background-color: #545454;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.registration_block .registration_block__wrapper .registration_block__content #content__identificationalForm .permissionCheckbox span {
  font-family: 'Yandex Regular';
  font-size: 15px;
}

/* Обычный */
@font-face {
  font-family: 'Yandex Regular';
  src: url("../src/font/YandexSansRegular.woff2");
}

/* Чуть толще стандартного */
@font-face {
  font-family: 'Yandex Bolder';
  src: url("../src/font/YandexSansRegularBolder.woff2");
}

/* Шрифт средней толщины */
@font-face {
  font-family: 'Yandex Medium';
  src: url("../src/font/YandexSansMedium.woff2");
}

/* Жирный шрифт */
@font-face {
  font-family: 'Yandex Bold';
  src: url("../src/font/YandexSansBold.woff2");
}
/*# sourceMappingURL=index.css.map */